# Visual Studio
.vs/
**/.vs/
*.user
*.suo

# .NET
bin/
obj/
**/bin/
**/obj/

# Nuxt / Node
**/node_modules/
**/.nuxt/
**/.output/

# VS Code
**/.vscode/

# Logs
*.log
npm-debug.log*

# Système
.DS_Store
Thumbs.db