# Visual Studio
.vs/
*.user
*.suo

# Build .NET
**/bin/
**/obj/

# Nuxt
mastermind-web/node_modules/
mastermind-web/.nuxt/
mastermind-web/.output/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Local env files
.env
.env.*
!.env.example
.vscode/
.nuxt/
node_modules/
.output/